.card-grid {
  display: grid;
  gap: var(--ck-space-8);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  .shopping-card__button {
    min-width: var(--ck-space-40);
  }
}
