.container-text {
  max-width: 70ch;
}


.container--xl {
  max-width: var(--ck-sizes-6xl);
  width: 100%;
  padding-inline: var(--ck-space-4);
}

@media screen and (min-width: 48em) {
  .container--xl {
    padding-inline: var(--ck-space-8);
  }
}


.container--sm {
  max-width: var(--ck-sizes-sm);
  width: 100%;
  padding-inline: var(--ck-space-4);
}

@media screen and (min-width: 48em) {
  .container--xl {
    padding-inline: var(--ck-space-8);
  }
}

