.section-heading {
  --max_font: var(--ck-fontSizes-3xl);
  --min_font: var(--ck-fontSizes-3xl);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: var(--ck-fontWeights-bold);
  margin-bottom: var(--ck-space-6);
}

//group by color; order by size

//----------------------- primary
.font-w-700-xl-primary, .cart__title {
  --max_font: var(--ck-fontSizes-xl);
  --min_font: var(--ck-fontSizes-xl);
  color: var(--ck-colors-primary-standard-500);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: 700;
}

.font-thick-sm-primary,
.shopping-card__price, {
  --max_font: var(--ck-fontSizes-sm);
  --min_font: var(--ck-fontSizes-sm);
  color: var(--ck-colors-primary-standard-500);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: 500;
}

.font-thick-xs-primary,
.cart__selected {
  --max_font: var(--ck-fontSizes-xs);
  --min_font: var(--ck-fontSizes-xs);
  color: var(--ck-colors-primary-standard-500);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: 500;
}


//----------------------- pale
.font-pale-xs-w-500,
.cart__price-total {
  --max_font: var(--ck-fontSizes-xs);
  --min_font: var(--ck-fontSizes-xs);
  color: var(--ck-colors-blackAlpha-600);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: 500;
}

.font-pale-xs,
.shopping-card__category,
.cart__price-piece,
.cart-modal__heading-add {
  --max_font: var(--ck-fontSizes-xs);
  --min_font: var(--ck-fontSizes-xs);
  color: var(--ck-colors-blackAlpha-600);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
}


//----------------------- black

.font-w-700-xl-black,
.cart__sum__total {
  --max_font: var(--ck-fontSizes-xl);
  --min_font: var(--ck-fontSizes-xl);
  color: var(--ck-colors-black);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: 700;
}

.font-thick-sm,
.shopping-card__name,
.shopping-card__button--unselected {
  --max_font: var(--ck-fontSizes-sm);
  --min_font: var(--ck-fontSizes-sm);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: 500;
}

.font-thick-xs,
.cart__list--removable .list-item__name,
.cart__list--overview .list-item__name,
.cart__list--overview .list-item__info {
  --max_font: var(--ck-fontSizes-xs);
  --min_font: var(--ck-fontSizes-xs);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
  font-weight: 500;
}

.font-xs-black,
.cart__sum {
  --max_font: var(--ck-fontSizes-xs);
  --min_font: var(--ck-fontSizes-xs);
  color: var(--ck-colors-black);
  font-size: clamp(var(--min_font), var(--min_font) + 1vw, var(--max_font));
}
