@use "reset.scss";
@use "custom-reset";
@use "fonts";
@use "font-styles";

html {
  scroll-behavior: smooth;
}

.container--outer {
  max-width: 75rem;
  width: 100%;
  padding-inline: var(--ck-space-4);
}

@media screen and (min-width: 48em) {
  .container--outer {
    padding-inline: var(--ck-space-8);
  }
}

.container-text {
  max-width: 70ch;
}

