.list-item--overview {
  display: grid;
  grid-template-areas:
    'list-image list-name list-info'
    'list-image list-details list-info';
  grid-template-columns: auto 1fr auto;
  padding-bottom: var(--ck-space-4);
  border-bottom: var(--ck-borders-1px) var(--ck-colors-blackAlpha-200);
  .list-item__img-wrapper {
    place-self: center;
    grid-area: list-image;
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-item__name {
    grid-area: list-name;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
  }
  .list-item__details {
    display: flex;
    align-items: center;
    gap: var(--ck-space-4);
    grid-area: list-details;
    height: 100%;
  }
  .list-item__info {
    grid-area: list-info;
    svg {
      color: var(--ck-colors-blackAlpha-600);
      height: var(--ck-sizes-5);
      width: auto;
      transition: color 100ms linear;
      &:active {
        color: var(--ck-colors-black);
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  /*.list-item__remove svg:hover { color: var(--ck-colors-black); }*/
}
